In [1]:
import numpy as np
import pandas as pd

In [4]:
a = np.random.rand(4*4)
a = a.reshape(4,4)
df = pd.DataFrame(a)
df

          0         1         2         3
0  0.510416  0.289552  0.701094  0.255482
1  0.446592  0.364244  0.272874  0.976238
2  0.438885  0.749923  0.564886  0.591364
3  0.925127  0.071928  0.152249  0.587558

In [15]:
df.columns = ['Random value 1', 'Random value 2','Random value 3','Random value 3']

In [16]:
df

   Random value 1  Random value 2  Random value 3  Random value 3
0        0.510416        0.289552        0.701094        0.255482
1        0.446592        0.364244        0.272874        0.976238
2        0.438885        0.749923        0.564886        0.591364
3        0.925127        0.071928        0.152249        0.587558

In [17]:
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 3
count        4.000000        4.000000        4.000000        4.000000
mean         0.580255        0.368912        0.422776        0.602660
std          0.232139        0.282659        0.253845        0.294646
min          0.438885        0.071928        0.152249        0.255482
25%          0.444665        0.235146        0.242718        0.504539
50%          0.478504        0.326898        0.418880        0.589461
75%          0.614093        0.460664        0.598938        0.687582
max          0.925127        0.749923        0.701094        0.976238

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 3  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [ ]:
df.loc[:, 'R']